@media only screen and (max-width: 600px) {
  .img {
    height: 60%;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  .img {
    height: 70%;
    width: 100%;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1280px) {
  .img {
    width: 100%;
  }
}

@media only screen and (min-width: 1280px) {
  .img {
  }
}