.email {
  opacity: 0.75;
  font-size: 300px !important;
  color: "white"
}

.email:hover {  
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .email {
    font-size: 50px !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  .email {
    font-size: 100px !important;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1280px) {
  .email {
    font-size: 200px !important;
  }
}

@media only screen and (min-width: 1280px) {
  .email {
    font-size: 300px !important;
  }
}